img.profile {
    float:left;
    height: 220px;
    width: 180px;
    border: 2px solid #f5f5f5;
}

div.aboutme {
    padding-left: 200px;
    margin: 0 0 0 0;
}

div.image-container {
    min-height: 275px
}

h1 {
    font-size: 50px;
    font-family:'Verdana';
    font-weight: strong;
    margin: 0 0 0 0;
    padding-bottom:10px;
}

h2 {
    font-family:'Georgia';
    font-size:25px;
    margin: 0 0 0 0;
    padding-bottom: 20px;
}

h3 {
    font-size:20px;
    margin: 0 0 0 0;
    padding-bottom: 10px;
}

body {
    padding: 50px 125px 50px 125px;
    font-family: 'Georgia';
    font-size: 18px;
    color:whitesmoke;
    text-align: justify;
    background-color: #f76c6c;
}

table {
    margin: 0 0 0 0;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%
}

ul {
    margin: 0 0 0 0;
    padding-bottom: 20px;
}

a:link {
    color: whitesmoke;
}